/* background*/
$background-color-primary: #323264;
$background-color-secondary: #F5F5FA;
$background-color-thirdary: #FFFFFF;
$background-color-fourthary: #EDEDF7;
$background-color-active: #F0145A;
$background-color-shadow-first: #CACADB;
$background-color-shadow-second: #E7E7F2;

/* text*/
$colot-text-primery: #FFFFFF;
$colot-text-secondary: #B3B3BA;
$colot-text-thirdary: #24A3FF;
$color-text-fourthary: #686887;
$color-text-fifthary: #000000;
$color-text-active: #F0145A;

/*button*/
$background-color-button: #24A3FF;
$box-shadow-button:rgba(36, 163, 255, 0.5);